<!-- start custom head snippets -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery-bundle.min.css" />

<!--<script type="text/javascript">
    $(document).ready(function() {
        var text = document.getElementById("typeStyle");

        var typewriter = new Typewriter(text, {
            loop: false,
            delay: 200
        });

        typewriter.pauseFor(1000)
            .typeString('Welcome To Data Science Lab!')
            .start();
    });
</script>-->
<script src="https://kit.fontawesome.com/1b6594f00b.js" crossorigin="anonymous"></script>
<!-- end custom head snippets -->
